[submodule "mib-api-gateway"]
	path = mib-api-gateway
	url = https://github.com/fedehsq/mib-api-gateway
[submodule "mib-user"]
	path = mib-user
	url = https://github.com/fedehsq/mib-user
[submodule "mib-message"]
	path = mib-message
	url = https://github.com/fedehsq/mib-message
	branch = main
[submodule "mib-lottery"]
	path = mib-lottery
	url = https://github.com/fedehsq/mib-lottery
	branch = main
