[submodule "mib-api-gateway"]
	path = mib-api-gateway
	url = https://github.com/fedehsq/mib-api-gateway
[submodule "mib-user"]
	path = mib-user
	url = https://github.com/fedehsq/mib-user
[submodule "mib_message"]
	path = mib_message
	url = https://github.com/pieramin/mib_message
	branch = main
